Repository OviOvocny/Holo: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:eslint, npm run lint:stylelint

add light theme
  src/styles/variables.css
Due: npm run lint:stylelint

add component typings via vue-tsc
  package copy.json
  package fucked.json
  package.json
  src/shims-vue.d.ts
  tsconfig.json
  vite.config.ts
Due: npm run lint:eslint

replace effect renderless comps with functional
  src/components/button/Button.vue
  src/framework/HoloEffects/HoloRippleEffect.ts
  src/framework/HoloEffects/HoloRippleEffect.vue
  src/framework/HoloEffects/HoloTriggerEffect.ts
  src/framework/HoloEffects/HoloTriggerEffect.vue
Due: npm run lint:eslint, npm run lint:stylelint

fix prop types in slider
  src/components/inputs/slider/Slider.vue
Due: npm run lint:eslint, npm run lint:stylelint

add checkbox
  src/components/inputs/checkbox/Checkbox.vue
  src/components/inputs/checkbox/index.ts
Due: npm run lint:eslint, npm run lint:stylelint

checkbox demo
  src/App.vue
  src/components/inputs/index.ts
  src/index.ts
Due: npm run lint:eslint, npm run lint:stylelint

holo favicon
  favicon.ico
  index.html
Due: none

add radio and demo
  src/App.vue
  src/components/inputs/index.ts
  src/components/inputs/radio/Radio.vue
  src/components/inputs/radio/index.ts
  src/index.ts
Due: npm run lint:eslint, npm run lint:stylelint

add disabled states to checkbox+radio
  src/App.vue
  src/components/inputs/checkbox/Checkbox.vue
  src/components/inputs/radio/Radio.vue
Due: npm run lint:eslint, npm run lint:stylelint

correct component folder re-export
  src/index.ts
Due: npm run lint:eslint

add radio group
  src/App.vue
  src/components/inputs/index.ts
  src/components/inputs/radioGroup/RadioGroup.vue
  src/components/inputs/radioGroup/index.ts
  src/components/inputs/radioGroup/types.ts
  src/index.ts
Due: npm run lint:eslint, npm run lint:stylelint

add basic input field
  src/App.vue
  src/components/inputs/index.ts
  src/components/inputs/inputField/InputField.vue
  src/components/inputs/inputField/index.ts
  src/index.ts
Due: npm run lint:eslint, npm run lint:stylelint

fix other inputs having mandatory modelvalue
  src/components/inputs/checkbox/Checkbox.vue
  src/components/inputs/radio/Radio.vue
  src/components/inputs/radioGroup/RadioGroup.vue
Due: npm run lint:eslint, npm run lint:stylelint

extract input handling into hook
  src/components/inputs/inputField/InputField.vue
  src/hooks/useInputValue.ts
Due: npm run lint:eslint, npm run lint:stylelint

extract hover and click Holo effects into hook
  src/components/button/Button.vue
  src/components/inputs/inputField/InputField.vue
  src/hooks/usePointerEffects.ts
Due: npm run lint:eslint, npm run lint:stylelint

normalize sizing and spacing
  src/components/button/Button.vue
  src/components/inputs/checkbox/Checkbox.vue
  src/components/inputs/inputField/InputField.vue
  src/components/inputs/radio/Radio.vue
  src/components/inputs/slider/Slider.vue
Due: npm run lint:eslint, npm run lint:stylelint

move textfield labels to top
  src/components/inputs/inputField/InputField.vue
Due: npm run lint:eslint, npm run lint:stylelint

basic textarea implementation
  src/App.vue
  src/components/inputs/index.ts
  src/components/inputs/textArea/TextArea.vue
  src/components/inputs/textArea/index.ts
  src/index.ts
Due: npm run lint:eslint, npm run lint:stylelint

notifications+root
  src/App.vue
  src/components/inputs/checkbox/Checkbox.vue
  src/components/inputs/file/File.vue
  src/components/inputs/file/index.ts
  src/components/inputs/index.ts
  src/components/inputs/radioGroup/RadioGroup.vue
  src/components/notification/Notification.vue
  src/components/notification/index.ts
  src/components/root/Root.vue
  src/components/root/index.ts
  src/index.ts
Due: npm run lint:eslint, npm run lint:stylelint

remove sheet
  src/components/sheet/HoloSheet.vue
  src/components/sheet/index.ts
Due: npm run lint:eslint, npm run lint:stylelint

add alert and holo updates
  src/App.vue
  src/components/alert/Alert.vue
  src/components/alert/index.ts
  src/components/root/Root.vue
  src/framework/HoloEffects/HoloRainEffect.ts
  src/framework/HoloWrapper.vue
  src/index.ts
Due: npm run lint:eslint, npm run lint:stylelint

mvp alert
  src/App.vue
  src/components/alert/Alert.vue
  src/styles/utility-classes.css
  src/styles/variables.css
Due: npm run lint:eslint, npm run lint:stylelint

fix hologram z-index
  src/framework/HoloWrapper.vue
Due: npm run lint:eslint, npm run lint:stylelint

add global holo disable to root
  src/App.vue
  src/components/root/Root.vue
  src/framework/HoloWrapper.vue
Due: npm run lint:eslint, npm run lint:stylelint

hagrid
  src/App.vue
  src/components/grid/area/Area.vue
  src/components/grid/area/index.ts
  src/components/grid/autogrid/AGrid.vue
  src/components/grid/autogrid/index.ts
  src/components/grid/index.ts
  src/index.ts
Due: npm run lint:eslint, npm run lint:stylelint

add staggered transition component
  src/framework/StaggeredListTransition.vue
  src/hooks/useDeepestSlot.ts
Due: npm run lint:eslint, npm run lint:stylelint

shim
  src/vue-shim.d.ts
Due: npm run lint:eslint

list
  src/App.vue
  src/components/list/List.vue
  src/components/list/index.ts
  src/index.ts
Due: npm run lint:eslint, npm run lint:stylelint

pain
  src/App.vue
  src/components/listitem/ListItem.vue
  src/components/listitem/index.ts
  src/index.ts
Due: npm run lint:eslint, npm run lint:stylelint

update list stagger tech
  src/App.vue
  src/components/list/List.vue
  src/components/listitem/ListItem.vue
Due: npm run lint:eslint, npm run lint:stylelint

list updates
  src/App.vue
  src/components/listitem/ListItem.vue
Due: npm run lint:eslint, npm run lint:stylelint

fttemplates
  .fttemplates/Holo Component/<FTName | pascalcase>.vue
  .fttemplates/Holo Component/index.ts
Due: none

badge
  src/App.vue
  src/components/badge/Badge.vue
  src/components/badge/index.ts
  src/index.ts
Due: npm run lint:eslint, npm run lint:stylelint

meter
  src/App.vue
  src/components/meter/Meter.vue
  src/components/meter/index.ts
  src/index.ts
Due: npm run lint:eslint, npm run lint:stylelint

technical details
  src/index.ts
  tsconfig.json
  vite.config.ts
Due: npm run lint:eslint

rename
  package.json
Due: none

range slider
  src/App.vue
  src/components/inputs/index.ts
  src/components/inputs/rangeSlider/RangeSlider.vue
  src/components/inputs/rangeSlider/index.ts
  src/index.ts
Due: npm run lint:eslint, npm run lint:stylelint

disable list reveal effect for now
  src/components/listitem/ListItem.vue
Due: npm run lint:eslint, npm run lint:stylelint

Path conditions:
  npm run lint:eslint: any of: src/**/*.{ts,vue}
  npm run lint:stylelint: any of: src/**/*.{css,vue}
